<!-- header -->

    <div class="header1">
        <i class="fa-solid fa-heart"></i>
        <a href=""><i class="fa-solid fa-user"></i></a>
         
    </div>

    <header class="header">
        <nav class="navbar"> 
            <img src= {{ asset('img/amesvoyageuses-logo-version-noir.png') }}  id="logo"alt="">
            <a href={{path ('home_index')}}>Accueil</a>
            <a href="">Vols</a>
            <a href="">Hotels</a>
            <a href="">Location de voiture</a>
        </nav>
        <div class='btn-toggle'>
        <i class="fa-solid fa-bars"></i>
         </div>
    </header>